<form action="/admin/universities" method="POST" id="new-university-form">
    <label for="name">Name</label>
    <input id="name" name="name" value=""/>

    <label for="emailDomain">Email Domain</label>
    <input id="emailDomain" name="emailDomain" value=""/>

    <button type="submit">Create New University</button>
</form>