<div class="d-flex">
    <img
    src="{{photo}}"
    alt="{{username}}"
    class="me-3 rounded-circle"
    style="width: 60px; height: 60px;"
    />
    <div>
        <h5 class="fw-bold">
        {{username}}
        </h5>
        <p>
        {{text}}
        </p>
    </div>
</div>
<hr>
