{{#if user}}
    <p>Browsing {{universityName}} items:</p>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/items/123" class="btn btn-primary">See More</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/items/456" class="btn btn-primary">See More</a>
        </div>
    </div>    
{{else}}
    <p>This is the about page.</p>
{{/if}}