Welcome to Unisell. This is the about page.


{{#if user}}
<a href="/auth/logout">Logout</a>
<a href="/admin">Admin Panel</a>
{{else}}
<a href="/auth/signup">Create an account</a>
<a href="/auth/login">Login</a>
{{/if}}