{{#if user}}
<p>Welcome to Unisell!</p>

<p>Browsing at {{universityName}}</p>

Take a look at today's items: (show items here w/ search)

<a href="/auth/logout">Logout</a>
{{#if super_admin}}
<a href="/admin">Admin Panel</a>
{{/if}}
{{else}}
<p>Welcome to Unisell! This is the about page.</p>

<a href="/auth/signup">Create an account</a>
<a href="/auth/login">Login</a>
{{/if}}
