.logo {
  height: 50px;
  margin-top: 8px;
}

.error-status {
  color: darkred;
  font-size: larger;
  font-weight: bolder;
}

.error-message {
  color: darkred;
}

button[type="submit"] {
  margin-bottom: 20px;
}

body {
  background-color: #f9f9f9;
}

footer {
  text-align: center;
}

.item-list .card {
  margin: 20px;
  display: inline-flex;
}

.card-img-top {
  width: 304px;
  height: 236px;
}

#dropdownUser1 {
  padding-left: 20px;
}
