<h1>Edit Your Item</h1>
<form method="POST">
    {{!-- Item Name --}}
    <div class="mb-3">
        <label for="itemName" class="form-label">Item Name</label>
        <input type="text" name="itemName" id="itemName" class="form-control">
    </div>
    {{!-- Item Description --}}
    <div class="mb-3">
        <label for="itemDescription" class="form-label">Item Description</label>
        <textarea name="itemDescription" id="itemDescription" class="form-control" rows="5"></textarea>
    </div>
    {{!-- Item Price --}}
    <div class="mb-3">
        <label for="itemPrice" class="form-label">Item Price</label>
        <input type="number" name="itemPrice" id="itemPrice" class="form-control">
    </div>
    {{!-- Item Keywords --}}
    {{!-- How to submit multiple keywords? --}}
    <div class="mb-3">
        <label for="itemKeywords" class="form-label">Item Keywords</label>
        <input type="text" name="itemKeywords" id="itemKeywords" class="form-control">
    </div>
    {{!-- Item Status Dropdown  --}}
    <div class="mb-3">
        <label for="itemStatus" class="form-label">Item Status</label>
        <select name="itemStatus" id="itemStatus" class="form-control">
            <option value="available">Available</option>
            <option value="sold">Sold</option>
        </select>
    </div>
    {{!-- Pickup Method Dropdown --}}
    <div class="mb-3">
        <label for="itemPickupMethod" class="form-label">Pickup Method</label>
        <select name="itemPickupMethod" id="itemPickupMethod" class="form-control">
            <option value="pickup">Pickup</option>
            <option value="delivery">Delivery</option>
        </select>
    </div>
    {{!-- Input Item Image --}}
    {{!-- How to submit multiple images? --}}
    <div class="mb-3">
        <label for="itemImage" class="form-label">Item Image</label>
        <input type="file" name="itemImage" id="itemImage" class="form-control">
    </div>
    {{!-- Submit Button --}}
    <button type="submit" class="btn btn-success">Update</button>
</form>
