<p class="error-status">{{error_status_code}}</p>
<p class="error-message">{{error_messages}}</p>

<input id="itemId" type="hidden" value="{{id}}"/>
<div class="container" id="photos-preview"></div>

<a href="/" class="btn btn-secondary">Home</a>

<script src="/public/js/editPhotos.js" type="module"></script>
